###### Requirements without Version Specifiers ######
git+https://github.com/amukhsimov/obs-websocket-py.git
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aiohttp

###### Requirements with Version Specifiers ######
python-dotenv~=0.19.2
flask~=1.1.2
markupsafe==2.0.1
asgiref~=3.4.1